Repository My-Solar-Garden/rails_backend, pull requests merged in 2020-10, with the labels that each got.

#23 Setup Resources/Tables
  .DS_Store
  .gitignore
  app/models/garden.rb
  app/models/garden_health.rb
  app/models/garden_plant.rb
  app/models/plant.rb
  app/models/sensor.rb
  app/models/user.rb
  app/models/user_garden.rb
  db/migrate/20201028200955_create_users.rb
  db/migrate/20201028201607_create_gardens.rb
  db/migrate/20201028202019_create_user_gardens.rb
  db/migrate/20201028202547_create_sensors.rb
  db/migrate/20201028204720_create_garden_healths.rb
  db/migrate/20201028211207_create_plants.rb
  db/migrate/20201028213229_create_garden_plants.rb
  db/schema.rb
  spec/factories/garden_healths.rb
  spec/factories/garden_plants.rb
  spec/factories/gardens.rb
  spec/factories/plants.rb
  spec/factories/sensors.rb
  spec/factories/user_gardens.rb
  spec/factories/users.rb
  spec/models/garden_health_spec.rb
  spec/models/garden_plant_spec.rb
  spec/models/garden_spec.rb
  spec/models/plant_spec.rb
  spec/models/sensor_spec.rb
  spec/models/user_garden_spec.rb
  spec/models/user_spec.rb
Labels: MVP, back_end, chore, database

#30 CRUD Endpoints - User
  app/controllers/api/v1/users_controller.rb
  app/models/user.rb
  app/serializers/user_serializer.rb
  config/routes.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
  spec/requests/api/v1/users_request_spec.rb
Labels: API, back_end, chore

#33 Crud endpoints garden
  app/controllers/api/v1/gardens_controller.rb
  app/serializers/garden_serializer.rb
  config/routes.rb
  spec/factories/gardens.rb
  spec/requests/api/v1/garden_request_spec.rb
Labels: API, back_end, chore

#35 Crud endpoints plants
  app/controllers/api/v1/plants_controller.rb
  app/models/plant.rb
  app/serializers/plant_serializer.rb
  config/routes.rb
  spec/factories/plants.rb
  spec/requests/api/v1/plant_request_spec.rb
Labels: API, back_end, chore

#49 Plant service
  app/controllers/api/v1/gardens_controller.rb
  app/models/garden.rb
  app/services/plant_service.rb
  db/migrate/20201030025324_add_private_to_gardens.rb
  db/schema.rb
  spec/factories/gardens.rb
  spec/models/garden_health_spec.rb
  spec/models/garden_spec.rb
  spec/models/sensor_spec.rb
  spec/models/user_garden_spec.rb
  spec/requests/api/v1/garden_request_spec.rb
  spec/services/plant_service_spec.rb
Labels: API, back_end

#54 Add uid to user table
  app/controllers/api/v1/users_controller.rb
  app/models/user.rb
  db/migrate/20201030204952_add_uid_to_user.rb
  db/schema.rb
  spec/factories/users.rb
  spec/models/user_garden_spec.rb
  spec/models/user_spec.rb
  spec/requests/api/v1/users_request_spec.rb
Labels: back_end, chore, database

#34 Sensor Endpoints - CRUD
  app/controllers/api/v1/sensors_controller.rb
  app/models/sensor.rb
  app/serializers/sensor_serializer.rb
  config/routes.rb
  spec/factories/sensors.rb
  spec/factories/user_gardens.rb
  spec/requests/api/v1/garden_healths_spec.rb
  spec/requests/api/v1/sensor_spec.rb
Labels: API, back_end, chore

#55 Add user and garden seeds, expose additional garden attr in api response
  app/serializers/garden_serializer.rb
  db/seeds.rb
  spec/requests/api/v1/garden_request_spec.rb
Labels: back_end, database

#51 Edits create gardens method to include user
  Gemfile.lock
  app/controllers/api/v1/gardens_controller.rb
  spec/requests/api/v1/garden_request_spec.rb
Labels: back_end, chore
